<% blazer_title @query.name %>

<div class="topbar">
  <div class="container">
    <div class="row" style="padding-top: 13px;">
      <div class="col-sm-6">
        <%= render partial: "blazer/nav" %>
        <h3 style="margin: 0; line-height: 34px; display: inline;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;position: absolute;width: 70%;">
          <%= @query.name %>
        </h3>
      </div>
      <div class="col-sm-2 text-right">
        <h5 style="margin: 0; line-height: 34px; display: inline;" id="sql_count">
        </h5>
      </div>
      <div class="col-sm-4 text-right">
        <%= link_to "Edit", edit_query_path(@query, variable_params), class: "btn btn-default", disabled: !@query.editable?(blazer_user) %>
        <%= link_to "Fork", new_query_path(variable_params.merge(fork_query_id: @query.id, data_source: @query.data_source, name: @query.name)), class: "btn btn-info" %>

        <% if !@error && @success %>
          <%= button_to "Download", run_queries_path(query_id: @query.id, format: "csv"), params: {statement: @statement}, class: "btn btn-primary" %>
        <% end %>
        <button onclick="export_to(event);" class= "btn btn-warning">Export</button>
        <button onclick="upload_s3();" class= "btn btn-success">리타겟팅 링크 추출</button>
      </div>
    </div>
    <div class="row">
      <div class="text-right" id="retargeting_link" style="color: red;"> <%= params[:file_path] if params[:file_path].present? %> </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 60px;"></div>

<% if @sql_errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @sql_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @query.description.present? %>
  <p><%= @query.description %></p>
<% end %>

<%= render partial: "blazer/variables", locals: {action: query_path(@query)} %>

<div id="results">
  <p class="text-muted"></p>
</div>

<% unless %w(mongodb elasticsearch).include?(Blazer.data_sources[@query.data_source].adapter) %>
    <script>
    </script>
<% end %>
